<!-- NAVIGATION START -->

<div class="container-fluid transparent py-3 bg-gradient">
	<header class="masthead mb-auto text-center">
		<div class="inner mx-auto" style="max-width:660px;">
			<h3 class="masthead-brand mr-auto mt-0"><a href="/">Kereru</a></h3>
			<nav class="nav nav-masthead justify-content-center">
				<a class="nav-link" href="{% link pages/quickstart.md %}">Quick Start</a>
				<a class="nav-link" href="{% link pages/documentation.md %}">Documentation</a>
				<a class="nav-link" href="{% link pages/downloads.md %}">Downloads</a>
			</nav>
		</div>
	</header>
</div>

<!-- NAVIGATION END -->
